.container {
  position: relative;
  margin-top: 3rem;
  width: 15rem; }
  @media only screen and (min-width: 600px) {
    .container {
      width: 25rem; }
      .container .item {
        height: 7rem !important;
        font-size: 1.5rem;
        padding-top: 2rem !important; }
      .container .play-again {
        margin-left: 7.5rem !important;
        margin-top: 2rem !important;
        font-size: 1.5rem; }
      .container .hr-a1-a3,
      .container .hr-b1-b3,
      .container .hr-c1-c3 {
        width: 21rem !important; }
      .container .hr-a1-c3,
      .container .hr-a3-c1 {
        width: 25rem !important; }
      .container .hr-a1-c1,
      .container .hr-a2-c2,
      .container .hr-a3-c3 {
        width: 20rem !important; }
      .container .hr-a1-c3,
      .container .hr-a3-c1,
      .container .hr-a1-c1,
      .container .hr-a2-c2,
      .container .hr-a3-c3 {
        top: 9.5rem !important; }
      .container .hr-a1-a3 {
        top: 2rem !important;
        left: 2rem; }
      .container .hr-a1-c3 {
        left: 0rem !important;
        transform: rotate(40deg) !important; }
      .container .hr-a3-c1 {
        right: 0rem !important;
        transform: rotate(-40deg) !important; }
      .container .hr-b1-b3 {
        top: 9rem !important;
        left: 2rem; }
      .container .hr-c1-c3 {
        top: 16rem !important;
        left: 2rem; }
      .container .hr-a1-c1 {
        left: -6rem !important; }
      .container .hr-a2-c2 {
        left: 2.5rem !important; }
      .container .hr-a3-c3 {
        right: -6rem !important; }
      .container .congrats {
        font-size: 1.5rem; } }
  .container .item {
    height: 4rem;
    border-color: #5c5c5c !important;
    text-align: center;
    padding-top: 1rem; }
  .container .play-again {
    margin-left: 3.5rem;
    margin-top: 2rem !important; }
  .container hr {
    display: none;
    border: 0.5px solid black;
    position: absolute; }
  .container .hr-a1-a3,
  .container .hr-b1-b3,
  .container .hr-c1-c3 {
    width: 13rem; }
  .container .hr-a1-c3,
  .container .hr-a3-c1 {
    width: 16rem; }
  .container .hr-a1-c1,
  .container .hr-a2-c2,
  .container .hr-a3-c3 {
    width: 11rem; }
  .container .hr-a1-c3,
  .container .hr-a3-c1,
  .container .hr-a1-c1,
  .container .hr-a2-c2,
  .container .hr-a3-c3 {
    top: 5rem; }
  .container .hr-a1-a3 {
    top: 0.6rem; }
  .container .hr-a1-c3 {
    left: -0.3rem;
    transform: rotate(38deg); }
  .container .hr-a3-c1 {
    right: -0.3rem;
    transform: rotate(-38deg); }
  .container .hr-b1-b3 {
    top: 4.6rem; }
  .container .hr-c1-c3 {
    top: 8.6rem; }
  .container .hr-a1-c1 {
    left: -3rem;
    transform: rotate(90deg); }
  .container .hr-a2-c2 {
    left: 2rem;
    transform: rotate(90deg); }
  .container .hr-a3-c3 {
    right: -3rem;
    transform: rotate(90deg); }
  .container .congrats {
    text-align: center;
    margin-top: 2rem; }
